{% extends "base.html" %}

{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}
    {% for room in page.object_list %}
        <h1>{{room.name}} / ${{room.price}} </h1>
    {% endfor %}

    <h5>

    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">Previous</a>
    {% endif %}

    {# 로직을 템플릿 안에 넣을 수는 없음, view를 이용하거나 template tags와 filter를 이용 #}
    {#    <a href="?page={{ page - 1 }}">Previous</a>#}
        Page {{ page.number }} of {{ page.paginator.num_pages }}

    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">Next</a>
    {% endif %}
    </h5>
{% endblock content %}