{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>{% block page_title %}{% endblock page_title %} | Nbnb </title>
</head>
<body>
    <header>
    {# include 로 divide and conquer #}
    {% include "partials/nav.html" %}
    {% block search-bar %}
        <form method="get" action="{% url "rooms:search" %}">
            <input value="Seoul" name="city" placeholder="Search by City" />
        </form>
    {% endblock search-bar %}
    </header>

    {# block 은 children tempalte 에 삽입하기 위한 구간 #}
    {% block content %}{% endblock content %}

    {% include "partials/footer.html" %}
</body>
</html>